adsml.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
	<xsd:annotation>
		<xsd:appinfo version="5.1.16" />
		<xsd:documentation xml:lang="en">
	         	XML Schema for Agility Directory Service Markup Language.
	         	Copyright 2005 Pindar Graphics. All rights reserved.
	      	</xsd:documentation>
	</xsd:annotation>
	
	<xsd:group name="BatchRequests">
		<xsd:choice>
			<xsd:element name="LookupRequest" type="LookupRequest"/>
			<xsd:element name="SearchRequest" type="SearchRequest"/>
			<xsd:element name="CreateRequest" type="CreateRequest"/>
			<xsd:element name="ModifyRequest" type="ModifyRequest"/>
			<xsd:element name="DeleteRequest" type="DeleteRequest"/>
			<xsd:element name="CopyRequest" type="CopyRequest"/>
			<xsd:element name="LinkRequest" type="LinkRequest"/>
			<xsd:element name="MoveRequest" type="MoveRequest"/>
			<xsd:element name="RenameRequest" type="RenameRequest"/>
			<xsd:element name="PublishRequest" type="PublishRequest"/>
			<xsd:element name="UnlinkRequest" type="UnlinkRequest"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="BatchResponses">
		<xsd:choice>
			<xsd:element name="AuthResponse" type="ADSMLResult"/>
			<xsd:element name="LookupResponse" type="ContextResponse"/>
			<xsd:element name="SearchResponse" type="SearchResponse"/>
			<xsd:element name="CreateResponse" type="ContextResponse"/>
			<xsd:element name="ModifyResponse" type="ContextResponse"/>
			<xsd:element name="DeleteResponse" type="ADSMLResult"/>
			<xsd:element name="CopyResponse" type="ContextResponse"/>
			<xsd:element name="LinkResponse" type="ContextResponse"/>
			<xsd:element name="MoveResponse" type="ContextResponse"/>
			<xsd:element name="RenameResponse" type="ContextResponse"/>
			<xsd:element name="PublishResponse" type="PublishResponse"/>
			<xsd:element name="UnlinkResponse" type="ADSMLResult"/>
			<xsd:element name="ErrorResponse" type="ErrorResponse"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="AttributeSubTypes">
		<xsd:choice>
			<xsd:element name="SimpleAttribute" type="SimpleAttribute"/>
			<xsd:element name="StructureAttribute" type="StructureAttribute"/>
			<xsd:element name="ContextAttribute" type="ContextAttribute"/>
			<xsd:element name="RelationAttribute" type="RelationAttribute"/>
			<xsd:element name="CompositeAttribute" type="CompositeAttribute"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="AttributeRestrictedSubTypes">
		<xsd:choice>
			<xsd:element name="SimpleAttribute" type="SimpleAttribute"/>
			<xsd:element name="ContextAttribute" type="ContextAttribute"/>
			<xsd:element name="CompositeAttribute" type="CompositeAttribute"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:group name="AttributeAllTypes">
		<xsd:choice>
			<xsd:element name="Attribute" type="Attribute"/>
			<xsd:element name="SimpleAttribute" type="SimpleAttribute"/>
			<xsd:element name="StructureAttribute" type="StructureAttribute"/>
			<xsd:element name="ContextAttribute" type="ContextAttribute"/>
			<xsd:element name="RelationAttribute" type="RelationAttribute"/>
			<xsd:element name="CompositeAttribute" type="CompositeAttribute"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:element name="BatchRequest" type="BatchRequest"/>
	<xsd:element name="BatchResponse" type="BatchResponse"/>
	
	<!-- **** Batch Request Envelope **** -->
	<xsd:complexType name="BatchRequest">
		<xsd:sequence>
			<xsd:element name="AuthRequest" type="AuthRequest" minOccurs="0"/>
			<xsd:group ref="BatchRequests" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="requestID" type="xsd:string" use="optional"/>
		<xsd:attribute name="onError" use="optional" default="exit">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="resume"/>
					<xsd:enumeration value="exit"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- **** Batch Response Envelope **** -->
	<xsd:complexType name="BatchResponse">
		<xsd:sequence>
			<xsd:group ref="BatchResponses" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="requestID" type="xsd:string" use="optional"/>
		<xsd:attribute name="version" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Auth Request **** -->
	<xsd:complexType name="AuthRequest">
		<xsd:attribute name="principal" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Lookup Request **** -->
	<xsd:complexType name="LookupRequest">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="AttributesToReturn" type="AttributesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="AttributeTypesToReturn" type="AttributeTypesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="LanguagesToReturn" type="LanguagesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ReferenceControls" type="ReferenceControls" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Search Request **** -->
	<xsd:complexType name="SearchRequest">
		<xsd:sequence>
			<xsd:element name="Filter" type="Filter" minOccurs="0"/>
			<xsd:element name="SearchControls" type="SearchControls" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="base" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="returnDepthFirstList" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Create Request **** -->
	<xsd:complexType name="CreateRequest">
		<xsd:all>
			<xsd:element name="AttributesToSet" type="AttributesToSet" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="failOnError" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="parentIdPath" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Modify Request **** -->
	<xsd:complexType name="ModifyRequest">
		<!-- Can't use xsd:all here because the number of ModificationItems is unbounded -->
		<xsd:sequence>
			<xsd:element name="ModificationItem" type="ModificationItem" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="failOnError" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Delete Request **** -->
	<xsd:complexType name="DeleteRequest">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Unlink Request **** -->
	<xsd:complexType name="UnlinkRequest">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Copy Request **** -->
	<xsd:complexType name="CopyRequest">
		<xsd:sequence>
			<xsd:element name="CopyControls" type="CopyControls" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="targetLocation" type="xsd:string" use="required"/>
		<xsd:attribute name="recursive" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="newName" type="xsd:string" use="optional" />
	</xsd:complexType>
	
	<!-- **** Move Request **** -->
	<xsd:complexType name="MoveRequest">
		<xsd:sequence>
			<xsd:element name="CopyControls" type="CopyControls" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="targetLocation" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Link Request **** -->
	<xsd:complexType name="LinkRequest">
		<xsd:sequence>
			<xsd:element name="CopyControls" type="CopyControls" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="targetLocation" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Rename Request **** -->
	<xsd:complexType name="RenameRequest">
		<xsd:sequence>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="newName" type="xsd:string" use="required"/>
		<xsd:attribute name="returnNoAttributes" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Publish Request **** -->
	<xsd:complexType name="PublishRequest">
		<xsd:all>
			<xsd:element name="PublishingScript" type="xsd:string"/>
			<xsd:element name="ReferenceControls" type="ReferenceControls" minOccurs="0"/>
		</xsd:all>
		<xsd:attribute name="base" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** ADSML Result **** -->
	<xsd:complexType name="ADSMLResult">
		<xsd:sequence>
			<xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="code" type="xsd:string" use="required"/>
		<xsd:attribute name="description" type="xsd:string"/>
	</xsd:complexType>

	<!-- **** Modification Item **** -->
	<xsd:complexType name="ModificationItem">
		<xsd:sequence>
			<xsd:element name="AttributeDetails" type="AttributeDetail"/>
			<xsd:element name="ValueToReplace" type="AttributeDetail" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="operation" type="ModificationOperation" use="required"/>
	</xsd:complexType>
	
	<!-- **** Attributes To Match **** -->
	<xsd:complexType name="AttributesToMatch">
		<xsd:sequence>
			<xsd:group ref="AttributeAllTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- **** Filter **** -->
	<xsd:complexType name="Filter">
		<xsd:choice>
			<xsd:element name="FilterString" type="xsd:anyType"/>
			<xsd:element name="AttributesToMatch" type="AttributesToMatch"/>
		</xsd:choice>
	</xsd:complexType>
	
	<!-- **** Lookup Controls **** -->
	<xsd:complexType name="LookupControls">
		<xsd:all>
			<xsd:element name="AttributesToReturn" type="AttributesToReturn" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AttributeTypesToReturn" type="AttributeTypesToReturn" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="LanguagesToReturn" type="LanguagesToReturn" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ReferenceControls" type="ReferenceControls" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
		<xsd:attribute name="resolveContextReferences" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="returnRelationsAsAttributes" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Search Controls **** -->
	<xsd:complexType name="SearchControls">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="AttributesToReturn" type="AttributesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="AttributeTypesToReturn" type="AttributeTypesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="LanguagesToReturn" type="LanguagesToReturn" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ReferenceControls" type="ReferenceControls" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:choice>
		<xsd:attribute name="searchScope" type="SearchScope" use="optional" default="onelevel"/>
		<xsd:attribute name="countLimit" type="xsd:nonNegativeInteger" use="optional"/>
		<xsd:attribute name="timeLimit" type="xsd:nonNegativeInteger" use="optional"/>
		<xsd:attribute name="allowPaging" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="pageSize" type="xsd:nonNegativeInteger" use="optional"/>
		<xsd:attribute name="filterParserClass" type="xsd:string" use="optional"/>
		<xsd:attribute name="searchRequestId" type="xsd:string" use="optional"/>
		<xsd:attribute name="returnBaseContext" type="xsd:boolean" use="optional" default="false"/>
		<xsd:attribute name="returnAllAttributes" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="returnAllPaths" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="excludeBin" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="excludeDocument" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	
	<!-- **** Reference Controls **** -->
	<xsd:complexType name="ReferenceControls">
	    <xsd:all>
			<xsd:element name="Locale" type="Locale" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CGValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="FractionFormat" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="LoopValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MultiValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NoValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
		<xsd:attribute name="objectId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="parentId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="structId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="channelId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="designId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="langId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="priceListId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="priceTypeId" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="priceBand" type="PriceBand" use="optional"/>
		<xsd:attribute name="resolveChoices" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveSpecialCharacters" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolvePrices" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolvePriceFields" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveAttributes" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveAttributeNames" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveFractions" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveStyles" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveScripts" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="allowScopeWidening" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveObjectType" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="valueOnly" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="resolveContentGatewayAttributes" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="cleanText" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="editor" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="retainStyles" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="processEscapeSequences" type="EscapeHandlingMode" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Locale **** -->
	<xsd:complexType name="Locale">
		<xsd:attribute name="language" type="xsd:string" use="optional"/>
		<xsd:attribute name="country" type="xsd:string" use="optional"/>
		<xsd:attribute name="variant" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Copy Controls **** -->
	<xsd:complexType name="CopyControls">
		<xsd:sequence>
			<xsd:element name="LookupControls" type="LookupControls" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="copyLocalAttributes" type="xsd:boolean" use="optional" default="true"/>
	</xsd:complexType>
	
	<!-- **** Extended Controls **** -->
	<xsd:complexType name="ExtendedControls">
		<xsd:sequence>
			<xsd:element name="Property" type="Property" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- **** Property **** -->
	<xsd:complexType name="Property">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Attributes To Return **** -->
	<xsd:complexType name="AttributesToReturn">
		<xsd:sequence>
			<xsd:element name="Attribute" type="Attribute" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="namelist" type="xsd:string" use="optional"/>
		<xsd:attribute name="idlist" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Attribute Data Types To Return **** -->
	<xsd:complexType name="AttributeTypesToReturn">
		<xsd:sequence>
			<xsd:element name="AttributeType" type="AttribDataType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="typelist" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Languages To Return **** -->
	<xsd:complexType name="LanguagesToReturn">
		<xsd:sequence>
			<xsd:element name="Language" type="Language" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- **** Attribute Data Type **** -->
	<xsd:complexType name="AttribDataType">
		<xsd:attribute name="name" type="AttributeType" use="required"/>
	</xsd:complexType>
	
	<!-- **** Language **** -->
	<xsd:complexType name="Language">
		<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>
	
	<!-- **** Attribute Detail **** -->
	<xsd:complexType name="AttributeDetail">
		<xsd:choice>
			<xsd:element name="SimpleAttribute" type="SimpleAttribute"/>
			<xsd:element name="StructureAttribute" type="StructureAttribute"/>
			<xsd:element name="ContextAttribute" type="ContextAttribute"/>
			<xsd:element name="RelationAttribute" type="RelationAttribute"/>
			<xsd:element name="CompositeAttribute" type="CompositeAttribute"/>
		</xsd:choice>
	</xsd:complexType>
	
	<!-- **** Attributes To Set **** -->
	<xsd:complexType name="AttributesToSet">
		<xsd:sequence>
			<xsd:group ref="AttributeSubTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- **** Attribute **** -->
	<xsd:complexType name="Attribute">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Simple Attribute **** -->
	<xsd:complexType name="SimpleAttribute">
		<xsd:complexContent>
			<xsd:extension base="Attribute">
				<xsd:attribute name="type" type="SimpleAttributeType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- **** Structure Attribute **** -->
	<xsd:complexType name="StructureAttribute">
		<xsd:sequence>
			<xsd:element name="StructureValue" type="StructureValue" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
		<xsd:attribute name="id" type="xsd:positiveInteger" use="optional"/>
	</xsd:complexType>
	
	<!-- **** Context Attribute **** -->
	<xsd:complexType name="ContextAttribute">
		<xsd:complexContent>
			<xsd:extension base="Attribute">
				<xsd:attribute name="nameParserClass" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- **** Relation Attribute **** -->
	<xsd:complexType name="RelationAttribute">
		<xsd:complexContent>
			<xsd:extension base="ContextAttribute">
				<xsd:attribute name="id" type="xsd:positiveInteger" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- **** Composite Attribute **** -->
	<xsd:complexType name="CompositeAttribute">
		<xsd:sequence>
			<xsd:element name="CompositeValue" type="CompositeValue" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Structure Value **** -->
	<xsd:complexType name="StructureValue">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="langId" type="xsd:positiveInteger"/>
				<xsd:attribute name="scope" type="Scope"/>
				<xsd:attribute name="isInherited" type="xsd:boolean"/>
				<xsd:attribute name="isAvailable" type="xsd:boolean"/>
				<xsd:attribute name="created" type="xsd:string"/>
				<xsd:attribute name="modified" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<!-- **** Composite Value **** -->
	<xsd:complexType name="CompositeValue">
		<xsd:sequence>
			<xsd:element name="Field" type="Field" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- **** Field **** -->
	<xsd:complexType name="Field">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" use="required"/>
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<!-- **** Context Response **** -->
	<xsd:complexType name="ContextResponse">
		<xsd:choice>
			<xsd:element name="Context" type="Context"/>
			<xsd:element name="StructureContext" type="StructureContext"/>
		</xsd:choice>
	</xsd:complexType>
	
	<!-- **** Search Response **** -->
	<xsd:complexType name="SearchResponse">
		<xsd:choice>
			<xsd:element name="SearchResults" type="SearchResults"/>
		</xsd:choice>
		<xsd:attribute name="executionTime" type="xsd:string" use="required"/>
		<xsd:attribute name="resultCount" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Context **** -->
	<xsd:complexType name="Context">
		<xsd:sequence>
			<xsd:group ref="AttributeRestrictedSubTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Structure Context **** -->
	<xsd:complexType name="StructureContext">
		<xsd:sequence>
			<xsd:group ref="AttributeSubTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="idPath" type="xsd:string" use="required"/>
		<xsd:attribute name="sortPath" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Search Results **** -->
	<xsd:complexType name="SearchResults">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Context" type="Context" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="StructureContext" type="StructureContext" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="base" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Error Response **** -->
	<xsd:complexType name="ErrorResponse">
		<xsd:sequence>
			<xsd:element name="Message" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Detail" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="malformedRequest"/>
					<xsd:enumeration value="applicationError"/>
					<xsd:enumeration value="systemError"/>
					<xsd:enumeration value="objectNotFound"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- **** Publish Response **** -->
	<xsd:complexType name="PublishResponse">
		<xsd:sequence>
			<xsd:element name="ResolvedContent" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="baseContext" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- **** Simple Attribute Type **** -->
	<xsd:simpleType name="SimpleAttributeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="integer"/>
			<xsd:enumeration value="decimal"/>
			<xsd:enumeration value="date"/>
			<xsd:enumeration value="binary"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Scope **** -->
	<xsd:simpleType name="Scope">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="global"/>
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="edgespecific"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Search Scope **** -->
	<xsd:simpleType name="SearchScope">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="base"/>
			<xsd:enumeration value="onelevel"/>
			<xsd:enumeration value="subtree"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Price Band **** -->
	<xsd:simpleType name="PriceBand">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="zero"/>
			<xsd:enumeration value="cheap"/>
			<xsd:enumeration value="whole"/>
			<xsd:enumeration value="expensive"/>
			<xsd:enumeration value="userDefined"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Modification Operation **** -->
	<xsd:simpleType name="ModificationOperation">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="addAttribute"/>
			<xsd:enumeration value="replaceAttribute"/>
			<xsd:enumeration value="removeAttribute"/>
			<xsd:enumeration value="addValue"/>
			<xsd:enumeration value="replaceValue"/>
			<xsd:enumeration value="removeValue"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Escape Handling Mode **** -->
	<xsd:simpleType name="EscapeHandlingMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="partial"/>
			<xsd:enumeration value="full"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- **** Modification Operation **** -->
	<xsd:simpleType name="AttributeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="simple"/>
			<xsd:enumeration value="structure"/>
			<xsd:enumeration value="context"/>
			<xsd:enumeration value="relation"/>
			<xsd:enumeration value="composite"/>
			<xsd:enumeration value="simple-text"/>
			<xsd:enumeration value="simple-integer"/>
			<xsd:enumeration value="simple-decimal"/>
			<xsd:enumeration value="simple-date"/>
			<xsd:enumeration value="simple-binary"/>
			<xsd:enumeration value="simple-boolean"/>
			<xsd:enumeration value="structure-text"/>
			<xsd:enumeration value="structure-number"/>
			<xsd:enumeration value="structure-date"/>
			<xsd:enumeration value="structure-simple"/>			<!-- Meaning text, number or date -->
			<xsd:enumeration value="structure-xml"/>
			<xsd:enumeration value="structure-image"/>
			<xsd:enumeration value="structure-binary"/>
			<xsd:enumeration value="structure-table"/>
			<xsd:enumeration value="structure-whiteboard"/>
			<xsd:enumeration value="structure-path"/>
			<xsd:enumeration value="structure-script"/>			<!-- Meaning a publishing block -->
			<xsd:enumeration value="relation-asset"/>
			<xsd:enumeration value="relation-index"/>
			<xsd:enumeration value="relation-vendor"/>
			<xsd:enumeration value="relation-product"/>
			<xsd:enumeration value="relation-design"/>			
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>

